body{
background: #d3d3f1;
}
.from_page{
margin: 50px 50px 0px 555px;
width: 430px;
height: 350px;
border-radius: 5px;
padding: 30px 0px 0px 58px;
box-shadow: -3px -2px 25px 10px white;
}
.form_contain{
background: gray;
height: 600px;
}
.from_page a{
color: white;
}
.from_page button[type='submit']{
margin: 10px 0px 0px 18px;
width: 290px;
}
.h1_lg{
margin: 65px 0px 50px 0px;
padding: 30px 0px 0px 0px;
text-align: center;
}
label{
font-size: 20px;
color: navy blue;
padding: 0px 0px 0px 15px;

}
.from_page input[type='text'], .from_page input[type='password']{
width: 300px;
height: 50px;
text-indent: 10px;
margin: 0px 0px 0px 15px;
padding: 15px;
border-radius: 5px;
}
.hr_line{
width: 250px;
background: white;
margin: 20px 0px 0px 35px;
outline: none;
border-shadow: 10px ;
}

.forgot{
margin: 20px 0px 0px 30px;
font-size: 15px;
}
.forgot a{
color: blue;
}

.forgot a:hover{
color: white;
text-decoration: none;
}
.stdent_getresult input:focus,.from_page input:focus{
outline: 0px;
border-shadow: 0px 0.5px gray;
border: 1px solid gray;
}
.stdent_getresult a{
color: white;
}